<h1>Bowls</h1>
<h4><a href="<%= total_scores_path %>">See Current Standings</a></h4>
<div class="container">
  <% @games.each do |game| %> 
    <% if current_user.picks.find_by(game_id: game.id).correct %>
      <div class="col-md-4 game-container correct">
    <% elsif current_user.picks.find_by(game_id: game.id).correct == false %>
      <div class="col-md-4 game-container wrong">
    <% else %>
      <div class="col-md-4 game-container">
    <% end %>
      <% if game.home_score %>
        <h3>Game Results</h3>
        <h4><%= game.bowl_name %> Bowl</h4>
        <img src="<%= game.pic_url %>" alt="<%= game.bowl_name %>_logo" />
        <h4><strong>WINNER: </strong><%= game.winner %></h4>
        <table class="results-table">
          <tr>
            <td><strong><h4>Your pick: </h4></strong></td>
            <td><h4><%= current_user.picks.find_by(game_id: game.id).winner %></h4></td>
          </tr>
          <th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </th>
          <tr>
            <td class='score-table'><%= game.away_team %>:</td>
            <td class='score-table'><%= game.away_score %></td>
          <tr>
            <td class='score-table'><%= game.home_team %>:</td>
            <td class='score-table'><%= game.home_score %></td>
          </tr>
          <th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </th>
        </table>
          <% if current_user.picks.find_by(game_id: game.id).correct %>
            <h3>You got it right!</h3>
          <% else %>
            <h3>You got it wrong</h3>
         <% end %>
       <% else %>
        <h4><%= game.bowl_name %> Bowl</h4>
        <% if game.pic_url %>
          <img src="<%= game.pic_url %>" alt="<%= game.bowl_name %>_logo" />
        <% end %>
        <h4><%= game.home_team %></h4>
        <p>is favored by <%= game.spread_for_away_team %> over</p>
        <h4><%= game.away_team %></h4>
        <p><%= game.date_time.to_s(:game_time) %></p>
        <p><strong>TV Network: </strong><%= game.tv %></p>
        <strong>Your pick: </strong>
        <div id="<%= dom_id(@game_picks[game]) %>">
          <% if Time.now > Time.parse('2015-12-19 08:00:00 -800') %>
            <% if @game_picks[game].winner.nil? %>
              <p>Too late!</p>
            <% else %>
              <p><%= @game_picks[game].winner %></p>
              <p><strong>Locked, past the entry deadline.</strong></p>
            <% end %>
          <% else %>
            <% if @game_picks[game].winner.nil? %>
              <p id="winner_<%= dom_id(@game_picks[game]) %>">You haven't made your pick yet!</p>
            <% else %>
              <p id="winner_<%= dom_id(@game_picks[game]) %>"><%= @game_picks[game].winner %></p>
            <% end %>
            <%= link_to "Update Pick", edit_pick_path(@game_picks[game]), remote: true, class: "btn btn-default" %>
          <% end %>
        </div>
        <div id="edit_<%= dom_id(@game_picks[game]) %>" class="hidden">
          <%= form_for @game_picks[game], remote: true do |f| %>
            <% if @game_picks[game].errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@game_picks[game].errors.count, "error") %> prohibited
                                                      this game_picks[game] from being saved:</h2>

                <ul class="field_with_errors">
                <%= @game_picks[game].errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <a><%= f.select :winner, ["#{game.home_team}", "#{game.away_team}"], class: "form-control" %></a>
            <p></p>
            <a><%= f.submit 'Submit', class: "btn btn-primary" %></a>
          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
</div>
