<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Football Picker - Week <%= @week %> Score</h1>
    <h2>Hello, <%= @user.email %>!</h2>
    <p>Your final score:: <strong><%= @user_score %></strong></p>
    <hr />
    <h3>Final Standings</h3>
    <ol>
      <% @all_scores.each do |score| %>
        <li><%= score.user.email %> - <strong><%= score.score %></strong></li>
      <% end %>
    </ol> 

    <h4>Thanks for playing!  Review your picks and see current standings here: <a href="http://college-bowl-picker.herokuapp.com">http://college-bowl-picker.herokuapp.com</a></h4>
  </body>
</html> 
