<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">College Bowl Picker</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
          <li><a>Signed in as <%= current_user.email %></a></li>
          <li><%= link_to "See Picks", bowls_path %></li>
          <li><%= link_to "Tie Breaker", tiebreaker_path %></li>
          <li><%= link_to "Standings", total_scores_path %></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Other<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Update Password", edit_user_registration_path %></li>
              <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
        <% else %>
          <li><a href="<%= new_user_session_path %>">Sign In</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
